// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: #337ab7;

.orange-color {
	/*color: #f05f40;*/
	color: #f0ad4e;
}

.white-color {
	color: #eee;
}

.blue-color {
	/*color: #337ab7;*/
	color: $brand-primary;
}